.c-side-nav{
    color: rgb(101, 101, 101);
    background-color: rgb(180, 180, 223);
    font-size: 0.8em;

    &__title{
        text-align: center;
        padding-top: 2rem;
    }
    & > ol{
        line-height: 2em;
        margin: 0 20px;
        list-style: upper-roman;
        list-style-position: inside;

        ol{
            list-style: upper-alpha;
            list-style-position: inside;
            padding-left: 3em;
        }
    }

    li{
        padding-top: 5px;
        padding-bottom: 5px;

        a{
            color: inherit;
            text-decoration: none;
            font-size: inherit;

            &:visited{
                color: inherit;
            }

            &:hover, &:active{
                color: rgb(97, 97, 211);
                text-decoration: underline;
                // background-color: rgba(51, 51, 51, 0.5);
            }
        }
    }
}