.c-tour-summary{
    h1{
        font-size: 2.2em;
        letter-spacing: 0.2em;
    }

    p{
        font-size: 1.1em;
    }

    blockquote{
        color: rgb(255, 255, 255);
        background-color: rgb(173, 189, 227);
        opacity: 0.65;
        float: right;
        margin: 1rem;
        p{
            padding: 2.5px 10px;
            margin-bottom: 1rem;
        }
    }
}

.c-fl-formatted{
    &::first-line{
        font-size: 1.2em;
        font-variant: small-caps;
    }
}