.tss-coaches {
    img{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    &__commentary {
        color: white;
        background-color: rgb(222, 128, 60);
        float: right;
        padding: 1rem;
        margin-left: 1rem;
        margin-bottom: 3rem;
        blockquote {
            quotes: '\201C' '\201D';
            &::after,
            &::before {
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.8em;
            }
            &::before {
                content: open-quote;
            }
            &::after {
                content: close-quote;
            }
        }
    }

    &__title{
        color: hsl(27, 82%, 85%);
        background-color: hsl(27, 6%, 21%);
        // margin-right: -20px;
    }

    h2{
        margin-top: 4rem;
        color: rgb(240, 125, 0);
    }


}