.footer{
    &__address{
        background-color: rgb(222, 128, 60);
        color: rgba(255, 255, 255, 0.7);
        font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
        text-align: center;
    }
}