.wrapper{
    background: lightgreen;
    outline: 1px solid gray;
    @include wrapper(true);
}

.box{
    @include column(1/3, true);

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: brown;
    color: white;
    outline: 1px solid black;    
}