.u-f0{
    font-size: 0;
}

.u-f1{
    font-size: 1rem;
}

.u-f1-3{
    font-size: 1.3rem;
}

.u-f1-5{
    font-size: 1.5rem;
}

.u-f2{
    font-size: 2rem;
}

.u-f2-5{
    font-size: 2.5rem;
}

// Font cursive
.u-fc{
    font-family: Champagne, cursive;
}

//Font bold
.u-f-bold{
    font-weight: bold;
}

.u-block{
    display: block;
}

.u-txt-center{
    text-align: center;
}