.o-title--primary{
    font-size: 2.2em;
    color: white;
    background-color: rgb(222, 128, 60);
}

.o-title--secondary{
    font-size: 2.2em;
    color: rgb(91, 91, 91);
}

.o-subtitle--primary{
    font-size: 1.5em;
    color: white;
    background-color: rgb(235, 177, 131);
}