.o-wrapper{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    // outline: 3px solid red;

    // background-color: rgb(180, 180, 223);
}

.o-layout{
    width: 100%;
    background-color: #b4b4df;
    // outline: 3px solid blue;

    &::after{
        content: '';
        display: block;
        clear: both;
    }
}

.o-layout__item{
    float: left;

    // outline: 3px solid green;

    & > *{
        margin-bottom: 1.5rem;
        padding: 0 10px;
    }
}