$color1: hsl(91, 8%, 56%);

$color2:hsl(58, 31%, 84%);

$color3: hsla(0, 0%, 100%, 0.4);

$color4: hsla(0, 0%, 42%, 0.4);

$color5: hsla(0, 0%, 0%, 0.4);

// hsla(0, 0%, 42%, 0.4)

$color_pay1: hsl(240, 100%, 88%);
$color_play2: hsl(25, 88%, 73%);
$color_play3: hsl(0, 100%, 75%);
$color_play4: hsl(296, 86%, 86%);