.header {
    display: flex;
    flex-flow: column;
    background-color: black;
    +p {
        @include typi('h3');
    }
    &__logo {
        display: block;
        order: -1;
        width: 100%;
        @include my-mq(sm) {
            order: 0;
        }
    }
}