@charset "utf-8";

@font-face{
    font-family: Champange;
    src: url('./cac_champagne.woff') format('woff'),
        url('./cac_champagne.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Grunge ;
    src: url('./1942.woff') format('woff'),
        url('./1942.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Dobkin ;
    src: url('./DobkinPlain.woff') format('woff'),
        url('./DobkinPlain.ttf') format('truetype');
    font-style: normal;
}


/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Yo
   Date:   01/02/2018
   
   Filename: ph_styles.css

*/
/* 8. Create a style rule for every paragraph that sets the margin space to 0 pixels and the padding
space to 5 pixels on top and 25 pixels on the right, bottom, and left. */

/* Structural Styles */
html{
    background-color: hsl(91, 8%, 56%);
}

body{
    background-color: hsl(91, 31%, 84%);
    font-family: 'Platino Linotype', 'Book Antiqua', Platino, serif;
}

body > p{
    font-size: 1.1em;
    text-align: center;
}

header{
    background-color: black;
}

p{
    margin: 0;
    padding: 5px 25px 25px 25px;
}

address{
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}




/* Navigation Styles */

nav ul li a {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}


nav ul li a, a:visited{
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 42%, 0.4);
}

nav ul li a:active, a:hover{
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsla(0, 0%, 42%, 0.7);
}


/* Section Styles */
section.playbill h1{
    font-size: 3em;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0px 10px 20px;
}

#play1{
    background-color: hsl(240, 100%, 88%);
    font-family: Champange, cursive;
}

#play2{
    background-color: hsl(25, 88%, 73%);
    font-family: Grunge, 'Times New Roman', Times, Serif;
}

#play3{
    background-color: hsl(0, 100%, 75%);
    font-family: Impact, Charcoal, sans-serif;
}

#play4{
    background-color: hsl(296, 86%, 86%);
    font-family: Dobkin, cursive;
}

/* 17. Randall has put the author and the director of each play within a definition list. Format these
definition
lists now by going to the Definition List Styles section and creating a style rule for the
dt element that sets the font size to 1.3em, the font weight to bold, and the font color to the
semi-transparent value hsla(0, 0%, 0%, 0.4). */

/* Description List Styles */

dt{
    font-size: 1.3em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.4);
}

dd{
    font-size: 1.3em;
    margin-left: 0px;
    margin-bottom: 10px;
}