@font-face{
    font-family: Quicksand;
    src: url('../../fonts/Quicksand-Regular.woff') format('woff'),
        url('../../fonts/Quicksand-Regular.ttf') format('truetype');
}

aside, nav{
    font-size: 0.8rem;
}

